#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Name=Kickoff Player
GenericName=Media player
Comment=Stream football matches and channels
Exec=kickoff-player %u
TryExec=kickoff-player
Icon=vlc
Terminal=false
Type=Application
MimeType=x-scheme-handler/acestream;x-scheme-handler/sop;
X-KDE-Protocols=acestream;sop;
